@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    list-style: none;
} 
header{
    background: #DBEAFF;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 80px 0 80px;
}
.logo{
    display: inline-flex;
    gap: .5em;
}
.logo h2{
    color: var(--heading-text, #282B6D);
    font-family: Plus Jakarta Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.nav-items ul{
    display: flex;
    gap: 2em;
}
.nav-items ul li a{
    text-decoration: none;
    color: #282B6D;
    font-family: Plus Jakarta Sans;
    line-height: normal;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
}
.buttons a{
    text-decoration: none;
    color: #282B6D;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    padding: 15px 20px;
    border-radius: 12px;
    background: #fff;
    transition: .4s ease;
}
.buttons a:hover{
    background: #282B6D;
    color: #fff;
}
.nav-items ul li img{
    width: 12px;
    height: 12px;
    margin-left: .3em;
}
.nav-items ul li{
    transition: .8s ease;
}
.nav-items ul li:hover{
    border-bottom: 2px solid #282B6D;
}

/* Styling the hero section inside of the header */

.hero{
    margin: 60px 0 0 80px;
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
}
.hero-text{
    margin-top: 40px;
}
.hero-text h4{
    color: #FE9168;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.hero-text h1{
    max-width: 568px;
    color: #282B6D;
    /* color: #5735D2; */
    /* font-feature-settings: 'clig' off, 'liga' off; */
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -0.5px;
    /* text-decoration-line: underline; */
    text-transform: capitalize;
}
.hero-text h1 span{
    color: #5735D2;
    text-decoration: underline;
}
.hero-text p{
    max-width: 448px;
    color: #9AA5B6;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.Get-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 2em;
    margin-top: 30px;
}
.Get-btn a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: Plus Jakarta Sans;
    line-height: 180%;
    border: none;
    padding: 16px 32px;
    background: #282B6D;
    border-radius: 12px;
    transition: .4s ease;
}
.Get-btn a:hover{
    color: #282B6D;
    background: #fff;
}
.Get-btn a:nth-child(2){
    color: #282B6D;
    font-size: 16px;
    font-weight: 600;
    font-family: Plus Jakarta Sans;
    line-height: 180%;
    border: none;
    padding: 16px 32px;
    background: #fff;
    border-radius: 12px;
    transition: .4s ease;
}
.Get-btn a:nth-child(2):hover{
    color: #fff;
    background: #282B6D;
}

.hero-img{
    display: flex;
    flex-direction: column;
}
.rectangle{
    width: 600px;
    height: 36px;
    flex-shrink: 0;
    background: #fff;
    border-radius: 12px 12px 0px 0px;
}
.square{
    width: 600px;
    height: 558px;
    flex-shrink: 0;
    background: #DDE3EB;
}
/* Here comes the end of the header section */

.partners{
    margin: 30px 80px;
    background: #fff;
}
.part-text{
    text-align: center;
}
.part-text h4{
    color: #FE9168;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.part-text h1{
    color: #282B6D;
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -0.5px;
    text-transform: capitalize;
}
.part-text p{
    color: #9AA5B6;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.part-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 35px;
}
.part-img .rect-div{
    width: 180px;
    height: 45px;
    flex-shrink: 0;
    background: #D7DCE5;
}
/* End of the Partners section */

.adv{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 130px 80px;
}
.adv-main h4{
    color: #FE9168;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.adv-main h1{
    color: #282B6D;
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    /* line-height: 80px; */
    letter-spacing: -0.5px;
    text-transform: capitalize;
}
.adv-ptext{
    margin: 75px 0 0 0 ;
}
.adv-ptext p{
    width: 350px;
    color: var(--body-text, #9AA5B6);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
/* End of the advantage section */

.benefit{
    margin: 30px 80px;
    background: #fff;
}
.ben-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
}
.ben-main{
    width: 360px;
    height: 335px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #F8FAFF;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.8em;
    padding: 25px;
}
.ben-main .ben-img img{
    width: 40px;
    height: 40px;
}
.ben-main .ben-img{
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    width: 90px;
    align-items: center;
}
.ben-text{
    display: flex;
    flex-direction: column;
    gap: .8em;
}
.ben-text h1{
    color: #282B6D;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.ben-text p{
    color: var(--body-text, #9AA5B6);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    text-align: start;
}
.ben-text a{
    text-decoration: none;
    color: #5735D2;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
/* End of the Benefit section */

.exchange{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    margin: 60px 90px;
}
.txn-wrapper{
    /* width: 502px;
    height: 617px; */
    /* border: 2px solid black; */
    padding: 25px;
    border-radius: 18px;
    border: 1px solid rgba(238, 241, 247, 0.50);
    background: #FFF;
}
.Money-Ex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.Money-Ex h3{
    color: #9AA5B6;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
}
.Currency{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-radius: 12px;
    background: #F7F8FA;
}
.Currency ul li{
    display: inline-flex;
    gap: .4em;
}
.Currency ul li img{
    width: 24px;
    height: 24px;
}
.Currency ul{
    padding: 20px;
    background: #fff;
    border-radius: 12px;
}
.Currency-text h1{
    color: var(--heading-text, #282B6D);
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
}
.Currency-text h3{
    color: #9AA5B6;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}
.Exc-list{
    display: flex;
    gap: 14em;
    padding: 10px;
    /* justify-content: space-between; */
}
.Exc-list .first li:nth-child(1) img{
    width: 12px;
    height: 12px;
    color: #9AA5B6;
}
.Exc-list .first li img{
    padding-right: 2px;
}
.Exc-list ul li{
    padding-bottom: 5px;
}
.Exc-list ul li{
    color: #CACCD0;
    text-align: right;
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.Exc-list ul li a{
    text-decoration: none;
    color: #CACCD0;
    text-align: right;
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.Currency-button{
    display: flex;
    flex-direction: column;
}
.Currency-button a{
    text-align: center;
    text-decoration: none;
    padding: 20px;
    background: #FE9168;
    margin: 20px 10px;
    border-radius: 15px;
    color: #fff;
}
.last{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4em;
}
.services-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.exchange2 .services-text h3{
    color: var(--secondary-color, #FE9168);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.exchange2 .services-text h1{
    color: var(--heading-text, #282B6D);
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: -0.5px;
    text-transform: capitalize;
}
.exchange2 .services-text p{
    max-width: 538px;
    color: var(--body-text, #9AA5B6);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.services-ul{
    margin-top: 30px;
}
.services-ul ul{
    display: flex;
    gap: 3em;
}
.services-ul ul li{
    display: inline-flex;
    gap: .4em;
}
.services-ul ul li a{
    text-decoration: none;
    color: #282B6D;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 7px;
}
.services-ul ul li img{
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 50%;
}
.services-button{
    margin: 40px 0 0 0;
    display: inline-flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: #5735D2;  
}
.services-button a{
    text-decoration: none;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* End of Exchange Section */
.Guide{
    background: #fff;
    display: flex;
    justify-content: space-between;
    margin: 50px 80px;
}
.Guide-main{
    margin-top: 50px;
}
.Guide-text h3{
    color: var(--secondary-color, #FE9168);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.Guide-text h1{
    color: var(--heading-text, #282B6D);
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: -0.5px;
    text-transform: capitalize;
}
.Guide-text p{
    max-width: 538px;
    color: var(--body-text, #9AA5B6);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.middle h3{
    color: #282B6D;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.middle img{
    margin: 20px 0 20px 0;
}
.invoice-card{
    width: 502px;
    height: 617px;
    flex-shrink: 0;
    border-radius: 18px;
    border: 1px solid rgba(238, 241, 247, 0.50);
    background: #FFF;
    padding: 30px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.invoice-card .invoice-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.invoice-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inner-card h2{
    align-items: flex-start;
    color: #9AA5B6;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.inner-card{
    width: 439px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid rgba(238, 241, 247, 0.50);
    background: #FFF;
    padding: 30px;
}
.invoice-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background: #F7F8FA; 
    padding: 20px;
    margin: 20px 10px;
}
.invoice-ul{
   display: flex;
   justify-content: space-between;
}
.invoice-ul .nth li:nth-child(3){
    display: inline-flex;
}
.invoice-ul .nth li:nth-child(3) span{
    padding-top: 4px;
    padding-left: 4px;
}
.invoice-ul ul li{
    color: #9AA5B6;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 20px;
}
.invoice-text h3{
    color: #282B6D;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
}
.invoice-text p{
    color: var(--body-text, #9AA5B6);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.invoice-text h3,
.invoice-text p{
    padding-bottom: 10px;
}
.last2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4em;
    margin-top: 40px;
}
.last2 h4{
    color: var(--body-text, #9AA5B6);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.last2 h4 span{
    color: var(--heading-text, #282B6D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.text1 h3{
    color: #282B6D;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.text1 p{
    color: #9AA5B6;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.text2 p{
    color: #9AA5B6;
    text-align: right;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}
.text2 h3{
    color: var(--heading-text, #282B6D);
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
}
.text2 h4{
    color: #14C186;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* End of the Guide Section*/


.users{
    background: linear-gradient(90deg, rgba(232, 235, 240, 0.19) 0%, rgba(232, 235, 240, 0.00) 83.66%);
    max-width: 100vw;
    margin-top: 30px;
}
.users-container{
    height: 500px;
    margin: 80px 90px;
    background: url(/img/Vector.png);
    fill: linear-gradient(180deg, rgba(242, 244, 247, 0.76) 0%, rgba(242, 244, 247, 0.00) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.users-text{
    text-align: center;
}
.quote-users{
    text-align: center;
    /* position: relative; */
}
.users-text h3{
    color: var(--secondary-color, #FE9168);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.users-text h1{
    color: var(--heading-text, #282B6D);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: -0.5px;
    text-transform: capitalize;
}
.users-text p{
    color: var(--body-text, #9AA5B6);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}
.quote-users h3{
    color: var(--body-text, #9AA5B6);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}
.quote-users h2{
    color: var(--heading-text, #282B6D);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 10px;
}
.quote-users p{
    color: var(--body-text, #9AA5B6);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
.quote-users a .imgR{
    padding-top: 40px;
}
.quote-users img{
    position: absolute;
}
.first{
    left: 445px;
    top: 3476px;
}
.second{
    top: 3476px;
    right: 445px;
}
/* End of  User section*/

.news{
    background: #F0F6FF;
    height: 400px;
}
.news-main{
    display: flex;
    flex-direction: column;
}
.news-text{
    text-align: center;
    margin-top: 70px;
}
.news-text h3{
    color: #FE9168;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.news-text h1{
    color: #282B6D;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: -0.5px;
}
.news-text p{
    color: var(--body-text, #9AA5B6);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; 
}
.news-input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 67.11438751220703px 109.06088256835938px 0px rgba(0, 0, 0, 0.05);
    width: 430px;
    height: 72px;
    flex-shrink: 0;
    gap: .9em;
}
.news-input a{
    text-decoration: none;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 18px;
    border-radius: 12px;
    background: #5735D2;
    margin-left: 40px;
}
.news-input input::placeholder{
    color: var(--body-text, #9AA5B6);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.news-input input{
    padding: 10px;
    border: none;
    outline: none;
}
.input-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .news-input input{
    padding: 30px;
    width: 450px;
} */

/* End of the newsletter section */

.footer{
    background: #fff;
}
.footer-list{
    margin: 100px 80px 20px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-list h2{
    color: var(--heading-text, #282B6D);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
}
.footer-list ul li a{
    text-decoration: none;
    color: #9AA5B6;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer-list p{
    color: #9AA5B6;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer-list ul li{
    padding-bottom: .9em;
}
.footer-list p{
    padding-bottom: .9em;
    padding-top: 20px;
}
.footer-list ul{
    padding-top: 20px;
}
.input-main2{
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 12px;
}
.footer-input{
    display: inline-flex;
    gap: .4em;
}
.footer-input input{
    border: none;
    outline: none;
}
.footer-input input::placeholder{
    color: #969696;
    font-family: Plus Jakarta Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* .footer-input .second{
    flex-shrink: none;
    z-index: 1000;
} */

/* End of the footer section styling*/

.end{
    background: #fff;
    border-top: 1px solid #eee;
}
.end-main{
    display: flex;
    justify-content: space-between;
    margin: 10px 80px;
    padding: 10px;
}
.end-text p{
    color: var(--body-text, #9AA5B6);
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.socials{
    cursor: pointer;
}